/*#processing_canvas, #original_canvas{
	width: 300px;
}*/

#processing_canvas{
	filter: grayscale();
}
#finish_canvas{
	filter: invert();
}
.overview{
	height: 800px;
	width: 400px;
	overflow: scroll;
}
